<div id="wrapper">
<div class="slider-wrapper theme-default">
<div id="slider" class="nivoSlider">

<img src="../ext/cece74/nivoslider/styles/all/theme/images/1.jpg" alt="Slider 1" title="Nivo Slider for forum PHPBB 3.1.x" />
<a href="#"><img src="../ext/cece74/nivoslider/styles/all/theme/images/2.jpg" alt="Slider 2" title="Responsive" /></a>
<img src="../ext/cece74/nivoslider/styles/all/theme/images/3.jpg" alt="Slider 3" title="Slider only in home" />
<img src="../ext/cece74/nivoslider/styles/all/theme/images/4.jpg" alt="Slider 4" title="All fade effect" />
<img src="../ext/cece74/nivoslider/styles/all/theme/images/5.jpg" alt="Slider 6" title="Infinite image" />

</div></div></div>
<!-- INCLUDEJS @cece74_nivoslider/nivoslider.js -->
<!-- INCLUDEJS @cece74_nivoslider/load.js -->
